*.o

src/host_primer/directory/
src/host_probe/directory/
src/virus_primer/directory/
src/virus_probe/directory/
src/check_coverage/directory/

src/host_primer/output/
src/host_probe/output/
src/virus_primer/output/
src/virus_probe/output/
src/check_coverage/output/
